* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f5f5f5;
  }
  
  .page {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
  }
  
  .card {
    background: white;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
  }
  
  h2 {
    text-align: start;
    margin-bottom: 5px;
  }
  
  .subtitle {
    text-align: start;
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
  }
  
  label {
    font-size: 14px;
    margin-top: 15px;
    display: block;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  textarea {
    height: 90px;
    resize: none;
  }
  
  .row {
    display: flex;
    gap: 10px;
  }
  
  .row div {
    flex: 1;
  }
  
  .gender,
  .tech {
    display: flex;
    gap: 15px;
    margin-top: 8px;
    flex-wrap: wrap;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
  }
  
  button {
    padding: 10px 22px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .reset {
    background: #eee;
  }
  
  .submit {
    background: black;
    color: white;
  }
  
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
  